.Container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;

  &.sm {
    /* ~600px */
    max-width: 37.5rem;
  }

  &.md {
    /* ~900px */
    max-width: 56.25rem;
  }

  &.lg {
    /* ~1280px */
    max-width: 80rem;
  }

  &.xl {
    /* ~1920px */
    max-width: 120rem;
  }
}